<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qm">
    <!-- 请求网络资源 -->
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 授予应用程序使用摄像头的权限 -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!-- startActivityForResult(intent, TAKE_PHOTO):原理里面添加了动态权限，不能与本地权限有冲突，所以注释掉 -->
    <!-- 读写外部存储器需要的权限 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--获取定位权限-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
<!--        <activity-->
<!--            android:name=".NewsDetailActivity"-->
<!--            android:exported="false">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->
        <activity
            android:name=".pages.NewsDetailActivity"
            android:label="News Detail"
            android:parentActivityName=".pages.FirstActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.FirstActivity" />
        </activity>

        <!-- android:networkSecurityConfig="@xml/network_security_config" -->
        <service
            android:name=".music.MusicService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 实现文件共享的常FileProvider 配置 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.qm.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 文件注册 -->
        <activity android:name=".pages.FirstActivity" />
        <activity android:name=".pages.SecondActivity" />
        <activity android:name=".pages.ThirdActivity" />
        <activity android:name=".music.MusicActivity" />
        <activity android:name=".music.LoveActivity" />
        <activity android:name=".sensor.SensorActivity" />
    </application>

</manifest>